*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    margin-top: 5%;
}
table{
    border: solid 1px black;
}
table td{
    border: solid 1px black;
}
#checkRead{
    width: 10px;
    height: 10px;
}

.sideForm{
    height: 100%;
    width: 0; /* change to display */
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow: hidden;
}
.sideForm .close-btn{
    position: absolute;
    top: 10px;
    left: 25px;
    font-size: 20px;
    color: black;

}




#addBook-btn{
    margin-top: 10px;
    margin-bottom: 20px;
}
#addBook-Form{
    /* display: flex; */
    /* flex-direction: column; */
    /* border: 1px black solid; */
    padding: 40px 30px;
    /* margin-top: 20px; */
}
#addBook-Form div:not(:last-child){
    margin-bottom: 20px;
}
#addBook-Form #confirm-container{
    text-align: center;
}
#confirm-btn,#addBook-btn {
    padding: 5px 10px;
}
